.App {
  display: grid;
  justify-content: center;
  font-family:  sans-serif;
}

.spinner {
  background-color: navajowhite;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  min-width: 100px;
  min-height: 100px;
}